@import "fonts";
@import "variables";
@import "breakpoints";
@import "global";

html, body{
  height: 100%;

  div#__nuxt {
    min-height: 100%;
  }
}

body {
  font-family: var(--font-regular);
  background-color: var(--color-white);
  font-style: normal;
  font-weight: normal;
  margin: 0;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

menu {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
button,
input,
label,
select,
textarea {
  outline: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
}

.error {
  padding-left: 20px;
  padding-top: 3px;
  font-size: 12px;
  line-height: 1.2;
  color: var(--color-red);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.space-container {
  padding-right: 16px;
  padding-left: 16px;

  @include md {
    padding-right: 32px;
    padding-left: 32px;
  }

  @include lg {
    padding-right: 64px;
    padding-left: 64px;
  }

  @include xl {
    padding-right: 160px;
    padding-left: 160px;
  }
}

/* custom scrollbar */
/*.scrollbar {*/
/*  overflow-y: auto;*/
/*  &::-webkit-scrollbar-track {*/
/*    border-radius: 0px;*/
/*    background-color: var(--color-bluegray-80);*/
/*  }*/
/*  &::-webkit-scrollbar {*/
/*    width: 2px;*/
/*    background-color: var(--color-bluegray-80);*/
/*  }*/
/*  &::-webkit-scrollbar-thumb {*/
/*    border-radius: 0px;*/
/*    background-color: var(--color-brand);*/
/*  }*/
/*}*/

//.swiper-button-prev,
//.swiper-button-next {
//  display: none;
//}
