:root {
  --color-white: #ffffff;
  --color-black: #1E1E1E;
  --color-blue: #171C8F;
  --color-dark-blue: #061E41;
  --color-red: #DE1A3D;
  --color-green: #00833F;
  --color-light-green: #8CBE36;
  --color-gray: #A0A0A0;
  --color-gray-100: #ededed;
  --color-gray-600: #575757;

  --font-regular: "RotondaC", sans-serif;

  --transition-duration: 0.3s;
}
